[include]
  path = ~/.gitlocal

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true

[core]
  autocrlf = input
  safecrlf = true
  excludesfile =~/.gitignore_global
  pager = less -F -X -R
	editor = vim

[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  type = cat-file -t
  dump = cat-file -p
  b = branch -va
  r = remote -v
  t = tag -l
  unstage = reset HEAD
  uncommit = reset --soft HEAD^
  server = !git daemon --reuseaddr --verbose --base-path=. --export-all --base-path-relaxed --enable=receive-pack ./.git ./*/.git ./*.git
  # https://twitter.com/tpope/status/165631968996900865
  trust = !mkdir .git/safe

  # Log Aliases
  last = log -n1 --stat
  changes = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\" --name-status
  short = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\"
  filelog = log -u  # show changes to a file
  changelog = log --pretty=format:\" * %s\"
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  graph = log --graph --pretty=oneline --abbrev-commit
  lg = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar)%Creset'
  l = !git --no-pager lg
  la = !git --no-pager lg --all
  d = diff --color-words

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = auto

[gc]
  auto=1

[gui]
  # This is to make fonts readable in gitk on Linux (Redhat tested only)
  fontui = -family \"DejaVu Sans\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0
  fontdiff = -family \"DejaVu Sans Mono\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0

[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	tool = code

